/* Define la animación de deslizamiento y aparición */
@keyframes fade-up-slide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Opcional: Incluir prefijos para máxima compatibilidad (aunque modernos navegadores ya no los necesitan) */
@-webkit-keyframes fade-up-slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}



.animate-fade-up {
  /* Aplica la animación 'fade-up-slide' */
  animation-name: fade-up-slide;

  /* Duración de la animación (ej: 0.8 segundos) */
  animation-duration: 1.5s;

  /* Función de tiempo (para un deslizamiento suave) */
  animation-timing-function: ease-out;

  /* 'forwards' asegura que el estado final (100%) permanezca aplicado */
  animation-fill-mode: forwards;
}

#phone-image {
  mask-image: linear-gradient(black 60%, transparent);
}