<header class="bg-[#0F172A] dark:bg-[#0F172A]">
  <div class="container mx-auto px-4 relative z-10">
    <!-- Barra de Navegación -->
    <header>
      <nav class="flex justify-between items-center py-4">
        <a href="/" class="text-xl font-bold flex items-center gap-2">
          <img
            src="/logo-white.svg"
            class="block w-50 h-20 dark:hidden"
            alt="Logo"
          />
          <img
            src="/logo-white.svg"
            class="hidden dark:block w-50 h-20"
            alt="Logo"
          />
        </a>
        <div class="hidden md:flex items-center space-x-8">
          <a
            href="/promociones"
            class="text-white hover:text-gray-300 transition-colors dark:text-gray-200 dark:hover:text-white"
            >Promociones</a
          >
          <a
            href="/quienes-somos"
            class="text-white hover:text-gray-300 transition-colors dark:text-gray-200 dark:hover:text-white"
            >Nosotros</a
          >
          <a
            href="/form"
            class="text-white hover:text-gray-300 transition-colors dark:text-gray-200 dark:hover:text-white"
            >Contacto</a
          >
        </div>
        <div class="flex justify-end pr-16 lg:pr-0 xl:pl-12 2xl:pl-20">
          <a
            href="#"
            class="bg-white/10 px-5 py-2 rounded-md hover:bg-white/20 transition-colors text-sm font-semibold text-white"
            >Mi Telcel</a
          >
        </div>
      </nav>
    </header>
  </div>
</header>
